/* ------------------------------------------------------------- */
/* BOOTSTRAP START */
$grid-breakpoints: (
	xs: 0,
	sm: 500px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);
/* Her retter vi standard farverne i Bootstrap */
$theme-colors: (
	"primary": #D6BF78,
	"secondary": #997349,
	"danger": #ff4136,
	"success": #050,
	"info": #894,
	"warning": #822,
	"light": #9E9B51,
	"dark": #4D822B,
	"gold": #FFB000,
	"sort": #000000
);

/* Her retter vi margin og padding (p-1, p-2, pb-1.... og m-1, m-2, mt-1 osv) */
$spacer: 50px;

/* Her importerer vi Bootstrap i vores egen css - Dvs bootstrap css filen skal ikke længere være i vores HTML dokument */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Her retter vi noget fra bootstrap som ikke kan ændres via variabler */
ul ol {
	margin-bottom: 20px;
}

/* BOOTSTRAP SLUT */
/* ------------------------------------------------------------- */
/* EGEN CSS START */

/* Her henter vi vores eget stylesheet (det der før hed styles.css) - nu har vi kaldt det _myStyles.scss */
@import "myStyles";

/* EGEN CSS SLUT */
/* ------------------------------------------------------------- */
/* EGEN RESPONSIVE CSS START */

/* Her henter vi vores tablet version _tablet.scss */
@import "tablet";

/* Her henter vi vores computer version _tablet.scss */
@import "computer";

/* EGEN RESPONSIVE CSS SLUT */
/* ------------------------------------------------------------- */